@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap');



.container_skills{
    background-color: black;
    max-width: 80%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.container_adobe-skills h1{
    font-family: 'Prompt', sans-serif,;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 0px #00C2FF;
}

.container_adobe-skills img{
    max-width: 400px;
}

.container_portfolio{
    background: linear-gradient(90deg, rgba(0,0,0,1) 26%, rgba(48,48,48,1) 100%);
    padding-top: 7rem;
    display: flex;
    justify-content: right;
    
}

.background_black{
    background-color: #000000;
    padding-top: 2rem;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    position: relative;
}

.portfolio-round{
    position: absolute;
    top: -100px;
    left: -100px;
    animation-duration: 20s;
    animation-name: rotateportfolio;
    animation-iteration-count: infinite;
}

@keyframes rotateportfolio {
    from {
        rotate: 360deg;
    }
}


.main_photo img{
    width: 500px;
}

.main_photo{
    display: flex;
    align-items: center;
    justify-content: center;
}


.information_main{
    max-width: 600px;
    
}

.information_main h1{
    font-family: 'Prompt', sans-serif,;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 0px #00C2FF;
}

.information_main p{
    font-family: 'Prompt', sans-serif,;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-align: right;
}

.developer_skillscontainer img{
    max-width: 270px;

}

.container_hardware h1{
    font-family: 'Prompt', sans-serif,;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 0px #00C2FF;
}

.skills-round{
    position: absolute;
    top: -100px;
    right: -100px;
    animation-duration: 20s;
    animation-name: rotateskills;
    animation-iteration-count: infinite;
}

@keyframes rotateskills {
    from {
        rotate: 360deg;
    }
}

.grilla-portfolio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.proyect_onepiece-container{
    width: 341px;
    height: 296px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.proyect_onepiece-container  img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.proyect_onepiece-container  .button_site-git{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgba(0,103,123,0.8);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}

.proyect_onepiece-container:hover > .button_site-git{
    opacity: 1;
    visibility: visible;
    
}

.proyect_onepiece-container:hover > img{
    transform: scale(1.3);   
}


.buttons_port{
    display: flex;
    gap: 2rem;

}

.buttons_port button{
    font: prompt;
    font-size: 20px;
    color: white;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 40px;
    background-color: rgba(255,255,255,0.3);
    border: none;
    text-shadow: 2px 1px 2px #000000;
    cursor: pointer;
}

.buttons_port button:hover{
    border: 2px solid #FFFFFF;
    background-color: transparent;
}


.proyect_onepiece-container p{
    font-family: prompt;
    color: white;
}

.button_git{
    display: flex;
    gap: 1rem;
}


#button_site{
    font: prompt;
    font-size: 20px;
    color: white;
    width: 120px;
    padding: 1rem;
    border-radius: 40px;
    background-color: rgba(255,255,255,0.5);
    border: none;
    text-shadow: 2px 1px 2px #000000;
    cursor: pointer;
    text-decoration: none;
}

#button_git{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* styles second cart */

.proyect_onepiece-container2{
    width: 341px;
    height: 380px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.proyect_onepiece-container2  img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.proyect_onepiece-container2  .button_site-git{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgba(25, 80, 5, 0.8);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}

.proyect_onepiece-container2:hover > .button_site-git{
    opacity: 1;
    visibility: visible;
    
}

.proyect_onepiece-container2:hover > img{
    transform: scale(1.3);   
}

.proyect_onepiece-container2 p{
    font-family: prompt;
    color: white;
}

/* styles therth cart */

.proyect_onepiece-container3{
    width: 341px;
    height: 190px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.proyect_onepiece-container3  img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.proyect_onepiece-container3  .button_site-git{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgba(80, 5, 70, 0.8);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}

.proyect_onepiece-container3:hover > .button_site-git{
    opacity: 1;
    visibility: visible;
    
}

.proyect_onepiece-container3:hover > img{
    transform: scale(1.3);   
}

.proyect_onepiece-container3 p{
    font-family: prompt;
    color: white;
}

/* styles four cart */

.proyect_onepiece-container4{
    width: 341px;
    height: 296px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.proyect_onepiece-container4  img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.proyect_onepiece-container4  .button_site-git{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgba(5, 80, 71, 0.8);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}

.proyect_onepiece-container4:hover > .button_site-git{
    opacity: 1;
    visibility: visible;
    
}

.proyect_onepiece-container4:hover > img{
    transform: scale(1.3);   
}

.proyect_onepiece-container4 p{
    font-family: prompt;
    color: white;
}

/* styles fith cart */

.proyect_onepiece-container5{
    width: 341px;
    height: 380px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.proyect_onepiece-container5  img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.proyect_onepiece-container5  .button_site-git{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgba(46, 46, 46, 0.8);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}

.proyect_onepiece-container5:hover > .button_site-git{
    opacity: 1;
    visibility: visible;
    
}

.proyect_onepiece-container5:hover > img{
    transform: scale(1.3);   
}

.proyect_onepiece-container5 p{
    font-family: prompt;
    color: white;
}

/* styles six cart */

.proyect_onepiece-container6{
    width: 341px;
    height: 296px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.proyect_onepiece-container6  img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.proyect_onepiece-container6  .button_site-git{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgba(80, 5, 5, 0.8);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}

.proyect_onepiece-container6:hover > .button_site-git{
    opacity: 1;
    visibility: visible;
    
}

.proyect_onepiece-container6:hover > img{
    transform: scale(1.3);   
}

.proyect_onepiece-container6 p{
    font-family: prompt;
    color: white;
}

/* styles seven cart */

.proyect_onepiece-container7{
    width: 341px;
    height: 380px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.proyect_onepiece-container7  img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.proyect_onepiece-container7  .button_site-git{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgba(80, 71, 5, 0.8);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}

.proyect_onepiece-container7:hover > .button_site-git{
    opacity: 1;
    visibility: visible;
    
}

.proyect_onepiece-container7:hover > img{
    transform: scale(1.3);   
}

.proyect_onepiece-container7 p{
    font-family: prompt;
    color: white;
}