@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap');

#navvar_container{
    display: flex;
    justify-content: space-between;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50px;
    align-items: center;
}

.filter{
    -webkit-backdrop-filter:blur(7px);
backdrop-filter:blur(7px);
background-color: rgba(255, 255, 255, 0.3);
}

.navvar_list{
    display: flex;
    gap: 2rem;
}

.navvar_list li{
    font-family: 'Prompt', sans-serif,;
    color: white;
    text-shadow: 3px 2px 2px #000000;
    font-weight: 500;
    list-style: none ;
    cursor: pointer;
}

.Logo_container{
    width: 150px;
    background-color: transparent;
}

#navvar_container{
    margin-left: 1rem;
    margin-right: 1rem;
}

.contac_button{
    font-family: 'Prompt', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: #272727;
    height: 2.5rem;
    width: 6rem;
    border-radius: 50px;
    box-shadow: 1px 9px 14px 0px #000 inset;
    cursor: pointer;

}